@charset "UTF-8";

* {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    color: white;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    font-size: 2.5em;
}

p {
    font-size: 1.5em;
}

body {
    background-color: rgba(0, 0, 0, 0.849);
}

header {
    background-color: #4A0F61;
    text-align: center;
    padding: 5px;
    padding-top: 10px;
}

header h1 {
    font-size: 3em;
}

nav.navegacao {
    display: flex;
    justify-content: flex-end;
    background-color: #841AAD;
    margin: 0px;
    width: auto;
}

nav.navegacao > a {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    padding-left: 5px;
}

div.caixas {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

div.caixa-apresentacao {
    width: 50%;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

div.caixa-apresentacao > h2 {
    margin-bottom: 20px;
}

div.caixa-apresentacao > p {
    padding: 10px;
}

div.caixa-trabalho {
    width: 50%;
}

div.caixa-trabalho > h2 {
    margin-bottom: 20px;
}

div.caixa-trabalho > p {
    padding: 10px;
}

img.foto-pecing {
    max-width: 20%;
    display: block;
    position: absolute;
    right: 1000px;
    top: 200px;
    left: 1200px;
}

footer {
    position: fixed;
    width: 100%;
    background-color: black;
    bottom: 0px;
    padding: 5px;
}

footer > p {
    text-align: center;
    font-size: 1em;
}

.footer-links {
    text-align: center;
}

.footer-links > a {
    text-decoration: none;
}